* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
}

@font-face {
  font-family: 'Georgia';
  src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
      url('Georgia.woff2') format('woff2'),
      url('Georgia.woff') format('woff'),
      url('Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

/* titles */
.title, 
.title-subtitle {
  font-size: 2.42em;
  font-family: 'Georgia';
}
.title-subtitle{
  font-size: 2em;
}

.division{
  margin-bottom: 233px;
  position: relative;
}
.division:after { 
  content: "";
  width: 115%;
  height: 3px;
  bottom: -116px;
  left: -8%;
  position: absolute;
  display: block;
  background-image: linear-gradient(to right, #9b9da3 70%, rgba(255,255,255,0) 0%);
  background-size: 12px 2px;
}